<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
        bean-discovery-mode="annotated">

    <interceptors>
        <class>vu.tp.interceptors.MethodLogger</class>
        <class>vu.tp.interceptors.SpecialInterceptor</class>
    </interceptors>
    <decorators>
        <class>vu.tp.utils.NumberGeneratorDecorator</class>
    </decorators>
<!--    <alternatives>-->
<!--        <class>vu.tp.utils.RandomPlayerStatsGenerator</class>-->
<!--    </alternatives>-->
</beans>